@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

body {
	background-color: #FDF3DD;
	color: #F18018;
	font-family: Moul;
	font-style: normal;
	font-weight: 400;
}

.nav-bar {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.home-button {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #F18018;
	font-size: 28px;
	margin-right: auto;
	transition: transform 0.3s ease;
}

.home-button img {
	margin-right: 5px;
	transition: transform 0.3s ease;
}

.home-button:hover {
	transform: scale(1.1);
}

.home-button:hover img {
	transform: scale(1.1);
}

.title {
	margin-left: auto;
	text-align: right;
}

.book-content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-guide {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 4vw;
	color: #CF84D7;
}


.open-button {
	display: inline-block;
	background-color: #CF84D7;
	color: white;
	padding: 10px 28px;
	border-radius: 40px;
	font-size: 4vw;
	transition: transform 0.3s ease;
	text-decoration: none;
	margin-bottom: 40px;
	margin-top: 20px;
	width: fit-content;
	border: none;
	outline: none;
}



.open-button:hover {
	transform: scale(1.1);
}





@media screen and (min-width: 768px) {

	.book-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 0;
		max-width: 80%;
		margin: 0 auto;
	}

	.book-guide {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		font-size: 2vw;
	}

	.open-button {
		font-size: 2vw;
	}

	.close-book-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.closed-book-button {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #CF84D7;
		font-size: 2vw;
	}


	.closed-book-image {
		width: 55vw;
	}

}